<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.team12">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ECommerce">

        <!--        User activity-->
        <activity
            android:name=".User.ActivitySearch"
            android:exported="false" />
        <activity
            android:name=".User.ActivityMyOrder"
            android:exported="false" />
        <activity
            android:name=".User.ActivityProductDetails"
            android:exported="false" />
        <activity
            android:name=".User.ActivityMyProfile"
            android:exported="false" />
        <activity
            android:name=".User.ActivityNotification"
            android:exported="false" />
        <activity
            android:name=".User.ActivityCustomerAddress"
            android:exported="false" />
        <activity
            android:name=".User.ActivityHome"
            android:exported="false" />


        <!--        Authentication activity-->
        <activity
            android:name=".Authentication.ActivitySignup"
            android:exported="false" />
        <activity
            android:name=".Authentication.ActivityLogin"
            android:exported="false" />

        <!--      Seller activity-->
        <activity
            android:name=".Seller.ActivityPostProduct"
            android:exported="false" />
        <activity
            android:name=".Seller.ActivityCustomerDetails"
            android:exported="false" />
        <activity
            android:name=".Seller.ActivityMyProduct"
            android:exported="false" />
        <activity
            android:name=".Seller.activityMySelling"
            android:exported="false" />
        <activity
            android:name=".Seller.ActivitySellerProfile"
            android:exported="false" />

        <!--        Admin activity -->
        <activity
            android:name=".Admin.AdminApproveSellerDetails"
            android:exported="false" />
        <activity
            android:name=".Admin.AdminApproveProductList"
            android:exported="false" />
        <activity
            android:name=".Admin.AdminApproveProductsDetails"
            android:exported="false" />
        <activity
            android:name=".Admin.AdminApproveSellerList"
            android:exported="false" />
        <activity
            android:name=".Admin.AdminHome"
            android:exported="false" />
        <activity
            android:name=".General.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>